/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

//COLORS
$color-primary:#7ed56f;
$color-primary-light:#55c57a;
$color-primary-dark:#28b485;

$color-gray-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-grey-light-1:#f7f7f7;

//FONT
$default-font-size:1.6rem;


// GRID VARIABLES
$grid-width:114rem; // sirina reda 
$gutter-vertical:8rem; //visina
$gutter-horizontal:6rem; //sirina

