.header {
  height: 95vh;
  /*95% of viewport*/
  background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.79), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
  /*prvo ide gradient iznad slike, pa opacity na 0.8 u RGBA*/
  background-size: cover;
  /*da fituje element u bilo koji viewport*/
  background-position: top;
  /*da pozadinska slika bude uvek na vrhu browsera
da je ne cropuje kad se smanjuje velicina viewporta*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);//da sljaka u svim browserima  
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
    
    
    
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

/* .logo:hover{
  animation: moveInRight 1s ease-out;
} */

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}