.card {
    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem; //isto ko gore samo da bi radilo u mozili
    position: relative; //pespective element must be on parent element
    //a ovo mora da bude u child elementu
    height: 52rem; //dodata ista visina j er se kresovao zbog detetove visine
    &__side {


        height: 52rem; //kresovao se parent element, zbog visine. Pa i njemo dodajemo istu visinu
        transition: all .8s ease; //da se zalepee obe strane jedna na drugu
        position: absolute;

        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;

        overflow: hidden; // DA SAKRIJE deo elementa koji ga preklapa. TJ slika koja prelazi itd. Uglavnom DJECA koja izlaze van roditelja
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {

                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-2 {

                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-3 {

                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    } //kad hoverujemo  card , ovo je za prednju stranu
    &:hover &__side--front {
        transform: rotateY(-180deg);

    }

    &:hover &__side--back {
        transform: rotateY(0);

    } //FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen; //da spoji gradient i sliku 
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); // da bi sljakalo u svim browserima 
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
border-top-left-radius: 3px;border-top-right-radius: 3px;
        //SLIKA I TEXT GRADIENT
        &--1 {
            /*ide samo jedan folder iznad, zato sto kad se kompajlira scss bude u style.css i tad treba samo jedan lvl iznad se ode u img folder.*/
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url("../img/nat-5.jpg");

        }
        
        &--2{
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url("../img/nat-6.jpg");
        }
        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url("../img/nat-7.jpg");
        }
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 70%; //da ga smanji tako prelama tekst
    }


    &__heading-span {
        padding: 1rem 1.5rem;

        /*za dekoraciju teksta, da tretira prelomljeni tekst kao dva zasebna elementa, zbog pedinga, i sl. trenutno ne radi u chromu*/
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

//HEADING GRADIENT
        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.85), rgba($color-secondary-dark, 0.85));
        }
        
        &--2{
            
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.85), rgba($color-primary-dark, 0.85));
            
        }
        &--3{
            
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.85), rgba($color-tertiary-dark, 0.85));
            
        }
        
    }
    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem; //nemoj da stavis ovo na last child, a na svakoj drugoj stavi
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    &__cta {

        position: absolute;
        top: 50%;
        left: 50%;
transform: translate(-50%,-50%);
        width: 90%;
        text-align: center;

    }
    &__price-box{
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;
    }
    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
        
    }
    &__price-value{
        font-size: 6rem;
        font-weight: 100;
    }
    

}
